
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content">
    <div class="container top">
        <div class="row">
            <div class="span12">
                <div class="wrapper">
                    <h2 class="nopadding">Quên mật khẩu</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="wrapper">
                    @if (TempData["Error"] != null)//kiểm tra thông báo để hiển thị
                    {
                        <div class="alert alert-error alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thất bại</h3>
                            @TempData["Error"]
                        </div>
                    }
                    else if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thành công</h3>
                            @TempData["Success"]
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="row">

            <div class="span12">
                @using (Html.BeginForm("ForgotPassword","Home",FormMethod.Post))
                {
                    <div class="box-wrapper">

                        <div class="promo-box style1">
                            <h4>Bạn phải nhập email tài khoản của bạn để lấy lại mật khẩu (*)</h4>

                           <input type="email" name="email" required="true" placeholder="Nhập email tài khoản của bạn"/>

                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="inside">
                        <div class="wrapper">

                            <div class="pull-right">
                                <button type="submit" class="button button-2x">Lấy lại mật khẩu</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>