/* vsecret */
body {
	background:url(../img/body_bg.png) repeat #f4f4f4;
}
#topline .fadelink > a {
	background-image: url(../img/arrow_down_inverse.png);
	background-color: #fff;
	z-index:100;
	position:relative;
}
#topline .fadelink .ul_wrapper {
	margin-top:-1px;
	z-index:99;
}
#topline .fadelink .ul_wrapper ul {
	background-color: #fff;
	border-radius: 0 2px 2px 2px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#footer_popup {
	position: relative;
	display: block;
	background-color: #fff;
	padding-bottom:15px;
}
section#content > .container.top {
	padding-top:25px;
	box-shadow:   none;
}
/* COLOR */
#header.header_v_2 #nav li.level1 > a:hover, #nav > li:hover > a {
	color:#fff;
}
.custom_color, a .custom_color, .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .flex-direction-nav a, h3 [class^="icon-"], h3 [class*=" icon-"], .nav-list li li a:hover, #topline a, .product .product-tocart a, .preview [class^="icon-"], .preview [class^="icon-"], .twit a, .twit .icon, .form-login button i, .flex-direction-nav a, .tp-leftarrow.default i, .tp-rightarrow.default i {
 color: #f389b0;
}
#topline, #footer_line, a.btn, .loader-slider, .nav-header > a, .nav-list > li > a:hover, button, .button, .form-search button, .form-mail button, .shoppingcart .fadelink span a, .shopping_cart_mini .button:hover, a.small_icon_color i, .middle_icon_color, .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .direction-nav a:hover, .es-nav a.btn:hover, .flexslider.banners .flex-direction-nav a:hover, #nav>li:hover>a, .countdown_inner, .sale_discount, .jcarousel-skin-brands a.btn:hover, .elastislide-horizontal nav a.btn:hover {
	background-color:#f389b0;
}
a.btn:hover, button:hover, .form-search button.btn:hover, .form-mail button.btn:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color:hover i, button:hover, .button:hover, .form-search button.btn:hover, .form-mail button.btn:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color:hover i {
	background-color:#f35790;
}
.style2 .es-nav, .custom_blocks .box .inside, .tab-content, #nav li:hover .menu_custom_block, #nav > li > ul {
	border-color:#f389b0;
}
.flexslider.banners {
	border-bottom-color:#f389b0;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color:#f38ab0;
}
.middle_icon_color1 {
	background-color:#f389b0;
}
#topline, #topline a, #footer_line, #footer_line a, #footer_line .custom_color {
	color:#fff;
}
#footer_popup, #footer_popup a, #footer_popup h3, #footer_popup h3 {
	color:#000;
	border-color:#ececec;
}
