
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="clearfix"></div>

<div class="alert alert-danger">
   
        <p><span class="glyphicon glyphicon-warning-sign"></span> Bạn không được cấp quyền truy cập vào mục này :) </p>
      
   
</div>